//Profile

.profile__name {
  margin-bottom: 30px;
  font-size: 22px;
  text-transform: uppercase;
}

.profile__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile__content-wrapper {
  display: flex;
  flex: 1 1 0;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
}

.profile__content {
  flex: 1 1 0;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;

  &:hover {
    .profile__title {
      &::after {
        width: 100%;
      }
    }
  }
}

.profile__description-list {
  list-style: none;
}

.profile__avatar {
  position: relative;
  width: 300px;
  height: 300px;

  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  border-radius: 3px;

  &::after {
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 2px solid black;
    border-radius: 3px;
    display: block;
    content: '';
    width: 300px;
    height: 300px;
    background-color: transparent;
    opacity: 0;
  }

  &::before {
    z-index: -1;
    transition: all 0.2s ease-in-out;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid black;
    border-radius: 3px;
    display: block;
    content: '';
    width: 300px;
    height: 300px;
    background-color: transparent;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 1;
    }
  }
}
.profile__avatar-img {
  background-color: #fff;
  padding: 20px;
  border-radius: 80px;
}

.profile__content__wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.profile__title {
  font-size: 25px;
  font-weight: 700;

  &::after {
    transition: width 0.2s ease-in-out;
    content: '';
    background-color: #000;
    width: 0;
    height: 2px;
    display: block;
    border-radius: 3px;
  }
}

//@Media

@media screen and (max-width: 768px) {
  .profile__content {
    margin-bottom: 30px;
  }

  .profile__content__wrapper {
    display: block;
    flex-wrap: wrap;
  }

  .profile__title {
    display: none;
  }

  .profile__avatar {
    width: 150px;
    height: 150px;

    img {
      width: 100px;
    }
  }

  .profile__logo {
    font-size: 20px;
  }

  .profile__description-list {
    li {
      font-size: 14px;
    }
  }
}

@media screen and (max-height: 812px) {
}

// /@Media

// /Profile
