@import './components/Footer/footer.scss';
@import './components/Nav/nav.scss';
@import './components/Massages/massages.scss';
@import './components/Users/users.scss';
@import './components/Profile/profile.scss';
@import './components/ProfilePost/profilePost.scss';

//Paginator

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &__item {
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    padding: 10px 20px;

    &::after {
      display: block;
      content: '';
      background-color: rgb(97, 97, 97);
      height: 2px;
      width: 0;
      border-radius: 3px;
      transition: width 0.2s ease-in-out;
    }

    &--active {
      &::after {
        display: block;
        content: '';
        background-color: rgb(97, 97, 97);
        height: 2px;
        width: 100%;
        border-radius: 3px;
        transition: width 0.2s ease-in-out;
      }
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

// / Paginator
