@import './components/Footer/footer.scss';
@import './components/Nav/nav.scss';
@import './components/Massages/massages.scss';
@import './components/Users/users.scss';
@import './components/Profile/profile.scss';
@import './components/Profile//ProfilePost/profilePost.scss';
@import './components/Login/login.scss';

//Paginator

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &__item {
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
    padding: 10px 20px;

    &::after {
      display: block;
      content: '';
      background-color: rgb(97, 97, 97);
      height: 2px;
      width: 0;
      border-radius: 3px;
      transition: width 0.2s ease-in-out;
    }

    &--active {
      &::after {
        display: block;
        content: '';
        background-color: rgb(97, 97, 97);
        height: 2px;
        width: 100%;
        border-radius: 3px;
        transition: width 0.2s ease-in-out;
      }
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

// @Media

@media screen and (max-width: 425px) {
  .paginator__item {
    padding: 10px 10px;
    font-size: 16px;
  }
}

// /@Media

// / Paginator

.App {
  position: relative;
  padding: 0px 20px;
  overflow: hidden;
  height: 100vh;
  min-height: 900px;
}

.crossDelete {
  margin-right: 5px;
  opacity: 0;
  width: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.7;
  }
}

.cross__wrapper {
  padding: 15px;
  cursor: pointer;
}
