*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto Mono', monospace;
  /*font-family: 'Amatic SC', cursive;*/
}

a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
  font-weight: 300;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* ScroleBar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #868686;
}

/* ScroleBar */
