//Nav

.nav__wrapper {
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0px 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  a {
    text-transform: uppercase;
    font-size: 22px;

    &::after {
      transition: all 0.2s ease-in-out;
      width: 0;
      content: '';
      height: 2px;
      background-color: rgb(97, 97, 97);
      display: block;
    }

    &.active {
      opacity: 0.7;
      &:after {
        opacity: 0.7;
        width: 100%;
        content: '';
        height: 2px;
        background-color: rgb(97, 97, 97);
        display: block;
      }
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  margin-right: 50px;
  list-style: none;
  cursor: pointer;
  padding: 20px;
}

.nav__logo {
  color: #333;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__login-avatar {
  transition: opacity 0.2s ease-in-out;
  border-radius: 30px;
  background-color: #fff;
  padding: 30px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 30px;
    width: 40px;
    height: 40px;
  }
}

.nav__login {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;

  &.active {
    .nav__login-name {
      &::after {
        width: 100%;
      }
    }
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;

    .nav__login-name {
      &::after {
        width: 100%;
      }
    }
  }
}

.nav__login-name {
  &::after {
    transition: width 0.2s ease-in-out;
    display: block;
    content: '';
    height: 2px;
    width: 0;
    background-color: rgb(97, 97, 97);
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// Burger-menu

.mobile__menu-wrapper {
  display: none;
  p {
    padding: 30px;
  }
}

.mobile__menu-inner {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a7a7a7;
    width: 100%;
    position: absolute;
    left: 0;
    top: 79px;
    z-index: 1000;
    padding: 20px;

    li {
      margin-bottom: 30px;

      padding: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// /Burger-menu

//@Media

@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding: 0px 30px;
    img {
      display: none;
    }
    div {
      font-size: 14px;
    }
  }
  .profile__avatar {
    pointer-events: none;
  }

  .nav__inner {
    justify-content: center;
  }

  .nav {
    margin: 0px 10px;
  }
  .nav__item {
    margin-right: 10px;
    a {
      font-size: 16px;
    }
  }

  .nav__login {
    padding: 0;
  }

  .nav__login-avatar {
    margin-right: 0;
  }

  .nav__login-name {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .mobile__menu-wrapper {
    display: block;
  }
  .profile__avatar {
    pointer-events: none;
  }
  .nav {
    display: none;
  }

  .nav__inner {
    justify-content: space-between;
  }

  .nav__login {
  }
}

// /@Media

// /Nav
